<!doctype html>
<html>
  <head>
    <meta name="disabled-adaptations" content="watch" />
    <meta name="viewport" content="width=device-width" />
    <title>Curlbot</title>
    <style type="text/css">
      body {
        font-family: -apple-system, Helvetica, Arial, sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0 10px;
        background: #000;
        width: 176px;
        display: flex;
        flex-direction: column;
        color: #fff;
      }
    </style>
  </head>
  <body>
      <a href="<%= game_id %>"><h1>CURLBOT 1.0</h1></a>
  </body>
</html>